.login {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.login__content {
    display: flex;
    background-color: #fff;
    padding: 24px;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: var(--box_shadow);
    border-radius: 4px;
    margin-bottom: 16px;
}
.login__content .divider {
    height: 10px;
    margin-bottom: 16px;
}

.login__content h3 {
    font-size: 14px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    line-height: 1.75;
    width: 250px;
    text-align: center;
}
.login__content a {
    margin: 16px 0 16px 0;
    font-weight: 400;
    font-size: 14px;
}
.login__content p {
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 1.75;
    font-weight: 500;
}

.login__content .login__text {
    font-size: 16px;
    font-family: Inter, sans-serif;
    line-height: 1.75;
    font-weight: 500;
}

.login__content label:hover {
    border-radius: 4px;
}

.login__content .login__registration,
.login__content .login__forgot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.login__content .login__registration p {
    font-size: 14px;
    margin-right: 8px;
}
.login__content .login__registration a {
    font-weight: 500;
    font-size: 14px;
}
